*, *::before, *::after {
    box-sizing: border-box;
  }
  
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    text-align: center;
    padding: 1%;
}

h1 {
    
  }

.sticky-head {

    
    border: 1px;
    width: 100%;
    margin: 0px;
    background-color: rgb(130, 203, 227);
    color: rgb(94, 46, 21);
    position: sticky;
    z-index: 1;

}
